/*Mobile Devices*/
@media screen and (min-width:320px) {
    html{
        height: 100vh;
    }
body{
        margin: 0 auto;
        min-height: 100vh;
        font-size: medium;
        display: block;
        background-color: rgb(157, 209, 73);
        }
.logo{
        padding-top: 2%;       
        align-items: center;
        text-align: center;
        padding-bottom: 1%;
    }
    #footer{
        width: 100%;
        position: absolute;
        align-items: center;
        text-align: center;
        bottom: 0;
        height: 40px;
        }
}
   /*ipads, Tablets*/
   @media screen and (min-width:481px) {
    html{
        height: 100vh;
    }
body{
        margin: 0 auto;
        min-height: 100vh;
        font-size: medium;
        display: block;
        background-color: rgb(233, 150, 41);
        }
.logo{
        padding-top: 2%;       
        align-items: center;
        text-align: center;
        padding-bottom: 1%;
    }
    #footer{
        width: 100%;
        position: absolute;
        align-items: center;
        text-align: center;
        bottom: 0;
        height: 40px;
        }
}
   /*small screens, laptops */
   @media screen and (min-width:769px) {
    html{
        height: 100vh;
    }
body{
        margin: 0 auto;
        min-height: 100vh;
        font-size: medium;
        display: block;
        background-color: rgb(125, 177, 134);
        }
.logo{
        padding-top: 2%;       
        align-items: center;
        text-align: center;
        padding-bottom: 1%;
    }
    #footer{
        width: 100%;
        position: absolute;
        align-items: center;
        text-align: center;
        bottom: 0;
        height: 40px;
        } 
}
   /*Desktop, large Screens */
   @media screen and (min-width:1025px) {
    html{
        height: 100vh;
    }
body{
        margin: 0 auto;
        min-height: 100vh;
        font-size: medium;
        display: block;
        background-color: antiquewhite;
        }
.logo{
        padding-top: 2%;       
        align-items: center;
        text-align: center;
        padding-bottom: 1%;
    }
#footer{
    width: 100%;
    position: absolute;
    align-items: center;
    text-align: center;
    bottom: 0;
    height: 40px;
    }
    }