/*Mobile Devices*/
@media screen and (min-width:320px) {
    html{
        height: 100vh;
    }
body{
        margin: 0 auto;
        min-height: 100vh;
        font-size: medium;
        display: block;
        background-color: rgb(157, 209, 73);
        }
.logo{
        padding-top: 2%;       
        align-items: center;
        text-align: center;
        padding-bottom: 1%;
    }
    .item.button{
        width: auto;
        order: 1;
        display: block;
    }
    .toggle{
        flex: 1;
        text-align: right;
        order: 2;
    }
    .menu li.button a{
        padding: 2% 2%;
        margin: 0;
    }
    .button a{
        background: #0080ff;
        border: 1% royalblue solid;
    }
    .button a:hover {
        text-decoration: none;
    }
    #footer{
        width: 100%;
        position: absolute;
        align-items: center;
        text-align: center;
        bottom: 0;
        height: 40px;
        }
}
   /*ipads, Tablets*/
   @media screen and (min-width:481px) {
    html{
        height: 100vh;
    }
body{
        margin: 0 auto;
        min-height: 100vh;
        font-size: medium;
        display: block;
        background-color: rgb(233, 150, 41);
        }
.logo{
        padding-top: 2%;       
        align-items: center;
        text-align: center;
        padding-bottom: 1%;
    }
    .item.button{
        width: auto;
        order: 1;
        display: inline;
    }
    .toggle{
        flex: 1;
        text-align: right;
        order: 2;
    }
    .menu li.button a{
        padding: 2% 2%;
        margin: 0;
    }
    .button a{
        background: #0080ff;
        border: 1% royalblue solid;
    }
    .button a:hover {
        text-decoration: none;
    }
    .button:not(.secondary) a:hover{
        background: royalblue;
        border-color: darkblue;
    }
    #footer{
        width: 100%;
        position: absolute;
        align-items: center;
        text-align: center;
        bottom: 0;
        height: 40px;
        }
}
   /*small screens, laptops */
   @media screen and (min-width:769px) {
    html{
        height: 100vh;
    }
body{
        margin: 0 auto;
        min-height: 100vh;
        font-size: medium;
        display: block;
        background-color: rgb(125, 177, 134);
        }
.logo{
        padding-top: 2%;       
        align-items: center;
        text-align: center;
        padding-bottom: 1%;
    }
    .item.button{
        width: auto;
        order: 1;
        display: inline;
    }
    .toggle{
        flex: 1;
        text-align: right;
        order: 2;
    }
    .menu li.button a{
        padding: 2% 2%;
        margin: 0;
    }
    .button a{
        background: #0080ff;
        border: 1% royalblue solid;
    }
    .button.secondary{
        border: 0;
    }
    .button.secondary a{
        background: transparent;
        border: 1% #0080ff solid;
    }
    .button a:hover {
        text-decoration: none;
    }
    .button:not(.secondary) a:hover{
        background: royalblue;
        border-color: darkblue;
    }
    #footer{
        width: 100%;
        position: absolute;
        align-items: center;
        text-align: center;
        bottom: 0;
        height: 40px;
        } 
}
   /*Desktop, large Screens */
   @media screen and (min-width:1025px) {
    html{
        height: 100vh;
    }
body{
        margin: 0 auto;
        min-height: 100vh;
        font-size: medium;
        display: block;
        background-color: antiquewhite;
        }
.logo{
        padding-top: 2%;       
        align-items: center;
        text-align: center;
        padding-bottom: 1%;
    }
 #toggle-nav{
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        position: absolute;
        align-items: center;
        text-align: center;
    }
    #toggle-nav:hover{
        background-color: #005ca3;
    }
    #toggle-nav:focus{
        outline:none;
    }
    #toggle-nav.active{
        background-color: #005ca3;
    }
    #toggle-nav.active:hover{
        background-color: #0077cc;
    }
    #toggle-nav.active + #main-nav{
        display: inline;
        padding-left: 2%;
        padding-right: 2%;
        margin-right: 2%;
        margin-left: 2%;
        color: #22121d;
    }
    #main-nav{
        display: block;
        position: absolute;
        align-items: center;
        text-align: center;
    }
li
{
    display: inline;
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 2%;
    margin-left: 2%;
    color: #22121d;
} 
a{
    color: rgb(236, 27, 27);
    text-decoration: none;
}
.menu{
    list-style-type: none;
}
.item{
    padding: 3%;
}
.item.button{
    padding: 3% 3%;
}
.item:not(.button) a:hover,
.item a:hover::after{
    color: #ccc;
}
#footer{
    width: 100%;
    position: absolute;
    align-items: center;
    text-align: center;
    bottom: 0;
    height: 40px;
    }
    }