*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    font-size: 16px;
}
/*nav{
    background: #93b1c5;
    align-items: center;
    width: 100%;
    padding-top: 2%;
}
li
{
    display: inline;
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 2%;
    margin-left: 2%;
    color: #22121d;
} 
a{
    color: rgb(236, 27, 27);
    text-decoration: none;
}
.menu{
    list-style-type: none;
}
.item{
    padding: 3%;
}
.item.button{
    padding: 3% 3%;
}
.item:not(.button) a:hover,
.item a:hover::after{
    color: #ccc;
}*/
.logo{
    font-size: 20px;
    padding: 1% 1% 1% 1%;
    align-items: center;
}

/*Mobile Devices*/
@media screen and (min-width:320px) {
    .menu{
        justify-content: center;
    }
    .logo{
        flex: 1;
        display: block;
        align-items: center;
    }
    .item.button{
        width: auto;
        order: 1;
        display: block;
    }
    .toggle{
        flex: 1;
        text-align: right;
        order: 2;
    }
    .menu li.button a{
        padding: 2% 2%;
        margin: 0;
    }
    .button a{
        background: #0080ff;
        border: 1% royalblue solid;
    }
    .button a:hover {
        text-decoration: none;
    }
}
   /*ipads, Tablets*/
   @media screen and (min-width:481px) {
   .menu{
        justify-content: center;
    }
    .logo{
        flex: 1;
        display: block;
        align-items: center;
    }
    .item.button{
        width: auto;
        order: 1;
        display: inline;
    }
    .toggle{
        flex: 1;
        text-align: right;
        order: 2;
    }
    .menu li.button a{
        padding: 2% 2%;
        margin: 0;
    }
    .button a{
        background: #0080ff;
        border: 1% royalblue solid;
    }
    .button a:hover {
        text-decoration: none;
    }
    .button:not(.secondary) a:hover{
        background: royalblue;
        border-color: darkblue;
    }
#footer{
    width: 100%;
        position: absolute;
        align-items: center;
        text-align: center;
        bottom: 0;
        padding: 10px 10px 10px 10px;
        height: 40px;
    }
}
   /*small screens, laptops */
   @media screen and (min-width:769px) {
   .menu{
        justify-content: center;
    }
    .logo{
        flex: 1;
        margin-left: 0;
    }
    .item.button{
        width: auto;
        order: 1;
        display: inline;
    }
    .toggle{
        flex: 1;
        text-align: right;
        order: 2;
    }
    .menu li.button a{
        padding: 2% 2%;
        margin: 0;
    }
    .button a{
        background: #0080ff;
        border: 1% royalblue solid;
    }
    .button.secondary{
        border: 0;
    }
    .button.secondary a{
        background: transparent;
        border: 1% #0080ff solid;
    }
    .button a:hover {
        text-decoration: none;
    }
    .button:not(.secondary) a:hover{
        background: royalblue;
        border-color: darkblue;
    }
#footer{
    width: 100%;
        position: absolute;
        align-items: center;
        text-align: center;
        bottom: 0;
        padding: 10px 10px 10px 10px;
        height: 40px;
    }  
}
    @media screen and (min-width:1200px) {
        .menu{
             justify-content: center;
         }
         .logo{
             flex: 1;
             padding-top: 2%;       
             align-items: center;
             text-align: center;
             background-color: antiquewhite;
             padding-bottom: 1%;
         }
         html{
             height: 100vh;
         }
         body{
             margin: 0 auto;
             min-height: 100vh;
             font-size: medium;
             display: flex;
             flex-direction: column;
             }
             li
             {
                 display: inline;
                 padding-left: 2%;
                 padding-right: 2%;
                 margin-right: 2%;
                 margin-left: 2%;
                 color: #22121d;
                 font-size: 25px;
                 font-family: monospace;
             }
         .item.button{
             width: auto;
             order: 1;
             display: inline;
         }
         .toggle{
             flex: 1;
             text-align: right;
             order: 2;
         }
         .menu li.button a{
             padding: 2% 2%;
             margin: 0;
         }
         .button a{
             background: #0080ff;
             border: 1% royalblue solid;
         }
         .button.secondary{
             border: 0;
         }
         .button.secondary a{
             background: transparent;
             border: 1% #0080ff solid;
         }
         .button a:hover {
             text-decoration: none;
         }
         .button:not(.secondary) a:hover{
             background: royalblue;
             border-color: darkblue;
         }
     #footer{
         width: 100%;
             position: absolute;
             align-items: center;
             text-align: center;
             bottom: 0;
             padding: 10px 10px 10px 10px;
             height: 40px;
         }
}
   /*Desktop, large Screens */
   @media screen and (min-width:1025px) {
    #main-nav{
        display: none;
    }
    #toggle-nav{
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        align-items: center;
        text-align: center;
    }
    #toggle-nav:hover{
        background-color: #005ca3;
    }
    #toggle-nav:focus{
        outline:none;
    }
    #toggle-nav.active{
        background-color: #005ca3;
    }
    #toggle-nav.active:hover{
        background-color: #0077cc;
    }
    #toggle-nav.active + #main-nav{
        display: inline;
        padding-left: 2%;
        padding-right: 2%;
        margin-right: 2%;
        margin-left: 2%;
        color: #22121d;
    }
    .logo{
        flex: 1;
        padding-top: 2%;       
        align-items: center;
        text-align: center;
        background-color: antiquewhite;
        padding-bottom: 1%;
    }
    html{
        height: 100vh;
    }
    body{
        margin: 0 auto;
        min-height: 100vh;
        font-size: medium;
        display: flex;
        flex-direction: column;
        }

        li
{
    display: inline;
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 2%;
    margin-left: 2%;
    color: #22121d;
} 
a{
    color: rgb(236, 27, 27);
    text-decoration: none;
}
.menu{
    list-style-type: none;
}
.item{
    padding: 3%;
}
.item.button{
    padding: 3% 3%;
}
.item:not(.button) a:hover,
.item a:hover::after{
    color: #ccc;
}
p{
    width: 100%;
    position: absolute;
    align-items: center;
    text-align: center;
    font-size: 30px; 
    font-family: monospace; 
}
#footer{
    width: 100%;
    position: absolute;
    align-items: center;
    text-align: center;
    bottom: 0;
    padding: 10px 10px 10px 10px;
    height: 40px;
    }
    }