
/*Mobile Devices*/
@media screen and (min-width:320px) {
body{
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: green;
    background-image: radial-gradient(whitesmoke,green);
    }
.logo{
    align-items: center;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 0%;
}
ul{
    display: inline-block;
    list-style: none;
}
 li{
    color: #22121d;
    text-decoration: none;
    font-size: 27px;
}
a{
    color: #50183e;
    text-decoration: none;
    font-size: 25px;

}
li a::after{
    content: "";
    height: 5px;
    background: #5739c7;
    transition: 0.5s;
}
footer{
    margin-top: auto;
    position: sticky;
    bottom: 0;
    text-align: center;
}
}
/*iPads, Tablets*/
@media screen and (min-width:481px) {
    body{
        margin: 0px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: gold;
        background-image: radial-gradient(whitesmoke,gold);
    }
        .logo{
            align-items: center;
            text-align: center;
            padding-top: 2%;
            padding-bottom: 0%;
        }
        ul{
            display: inline-block;
            list-style: none;
        }
        li
        {
            color: #22121d;
            text-decoration: none;
            font-size: 27px;
        } 
        a{
            color: #50183e;
            text-decoration: none;
            font-size: 25px;
        
        }
        li a::after{
            content: "";
            height: 5px;
            background: #5739c7;
            transition: 0.5s;
        }
        footer{
            margin-top: auto;
            position: sticky;
            bottom: 0;
            text-align: center;
        }
    }
    /*small screens, laptops */
@media screen and (min-width:769px) {
   body{
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: firebrick;
    background-image: radial-gradient(whitesmoke,firebrick);
   } 
   .logo{
    align-items: center;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 0%;
}
ul{
    display: inline-block;
    list-style: none;
}
li
{
    color: #22121d;
    text-decoration: none;
    font-size: 27px;
} 
a{
    color: #50183e;
    text-decoration: none;
    font-size: 25px;

}
li a::after{
    content: "";
    height: 5px;
    background: #5739c7;
    transition: 0.5s;
}
footer{
    margin-top: auto;
    position: sticky;
    bottom: 0;
    text-align: center;
}
}
/*Desktop, large Screens */
@media screen and (min-width:1025px) {
    body{
        margin: 0px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: rebeccapurple;
        background-image: radial-gradient(whitesmoke,rebeccapurple);
    }
    .logo{
        align-items: center;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 0%;
    }
    }
    li
    {
        color: #22121d;
        text-decoration: none;
        font-size: 27px;
    } 
    a{
        color: #50183e;
        text-decoration: none;
        font-size: 25px;
    
    }
    li a::after{
        content: "";
        height: 5px;
        background: #5739c7;
        transition: 0.5s;
    }
    footer{
        margin-top: auto;
        position: sticky;
        bottom: 0;
        text-align: center;
    }
/*Extra large screens */
@media screen and (min-width:1200px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
   html{
    height:100vh
   }
   body{
        margin: 0 auto;
        min-height: 100vh;
        font-size: medium;
        display: flex;
        flex-direction: column;
        background-color:chocolate;
        background-image: radial-gradient(whitesmoke,chocolate);
    }
 #logo{
        align-items: center;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 0px;
    }
 li
    {
        display: inline;
        margin-right: 20px;
        margin-left: 10px;
        color: #22121d;
    } 
#nav{
    align-items: center;
}
#footer{
        position: absolute;
        align-items: center;
        text-align: center;
        bottom: 0;
        padding: 10px 10px 10px 10px;
        height: 40px;
    }
}
